@font-face {
  font-family: "Fairymuffin";
  src: url("./assets/fonts/Jayaque-5y1nZ.otf") format("truetype");
}

body {
  background-color: #000000; 
  background-image: none;
  font-family: "Fairymuffin", sans-serif; 
}

* {
  font-family: "Fairymuffin", sans-serif !important;
}